html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    color: var(--grey-0);
    font: 400 var(--text-3, 1rem) / 1.2 Roboto, Sans-Serif;
    line-height: 1;

    background-color: var(--body-bg, white);
}
