.content-header {
    display: flex;

    padding-right: var(--spacing-8);
    padding-left: var(--spacing-8);

    position: sticky;
    top: 0;
    z-index: 1;

    height: 89px;
    align-items: center;

    // box-shadow: 0 0 35px #0000001a;
    border-bottom: 1px solid var(--grey-4);
    background: white;
}
