.pie {
    --value: .6;
    --size: 250px;

    --progress: var(--blue-1);
    --track: var(--blue-4);
    --percent: calc(33% + (67% * var(--value)));

    position: relative;
    display: flex;
    flex-flow: column;

    margin-bottom: -5%;

    width: var(--size);
    height: var(--size);

    justify-content: center;
    align-items: center;

    border-radius: 50%;

    // Use -webkit prefix so Firefox does not pass the @supports check.
    // The polyfill makes it pass the none-prefixed check which is annoying.
    @supports (background: -webkit-conic-gradient(#fff, #fff)) {
        &:after {
            position: absolute;
            top: 2%;
            z-index: -1;

            display: block;
            width: 100%;
            height: 100%;

            content: "";

            border-radius: inherit;
            background-image: radial-gradient(white calc(var(--size) * 0.42), transparent 0%),
                conic-gradient(from 120deg, #fff 33%, var(--progress, #000) 33%, var(--progress, #000) var(--percent, 0), var(--track, #000) var(--percent, 0), var(--track, #000) 360deg);
        }

        &-fallback {
            display: none;
        }
    }
}

.pie-fallback {
    position: absolute;
    top: 2%;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;

    border-radius: inherit;
}
