.m {
    @for $i from 0 through 15 {
        &-#{$i} {
            margin: var(--spacing-#{$i});
        }
    }

    &-auto {
        margin: auto;
    }

    &x {
        &-auto {
            margin-right: auto;
            margin-left: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-right: var(--spacing-#{$i});
                margin-left: var(--spacing-#{$i});
            }
        }
    }

    &y {
        &-auto {
            margin-top: auto;
            margin-bottom: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-top: var(--spacing-#{$i});
                margin-bottom: var(--spacing-#{$i});
            }
        }
    }

    &t {
        &-auto {
            margin-top: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-top: var(--spacing-#{$i});
            }
        }
    }

    &r {
        &-auto {
            margin-right: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-right: var(--spacing-#{$i});
            }
        }
    }

    &b {
        &-auto {
            margin-bottom: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-bottom: var(--spacing-#{$i});
            }
        }
    }

    &l {
        &-auto {
            margin-left: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-left: var(--spacing-#{$i});
            }
        }
    }
}

.p {
    @for $i from 0 through 15 {
        &-#{$i} {
            padding: var(--spacing-#{$i});
        }
    }

    &-auto {
        padding: auto;
    }

    @for $i from 0 through 15 {
        &-#{$i} {
            padding: var(--spacing-#{$i});
        }
    }

    &x {
        &-auto {
            padding-right: auto;
            padding-left: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                padding-right: var(--spacing-#{$i});
                padding-left: var(--spacing-#{$i});
            }
        }
    }

    &y {
        &-auto {
            padding-top: auto;
            padding-bottom: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                padding-top: var(--spacing-#{$i});
                padding-bottom: var(--spacing-#{$i});
            }
        }
    }

    &t {
        &-auto {
            padding-top: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                padding-top: var(--spacing-#{$i});
            }
        }
    }

    &r {
        &-auto {
            padding-right: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                padding-right: var(--spacing-#{$i});
            }
        }
    }

    &b {
        &-auto {
            padding-bottom: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                padding-bottom: var(--spacing-#{$i});
            }
        }
    }

    &l {
        &-auto {
            padding-left: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                padding-left: var(--spacing-#{$i});
            }
        }
    }
}

.w {
    &-full {
        width: 100%;
    }

    &-fit {
        width: stretch;
    }
}

.items {
    &-start {
        align-items: flex-start;
    }

    &-center {
        align-items: center;
    }

    &-end {
        align-items: flex-end;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }
}

.grid {
    &-flow-col {
        grid-auto-flow: column;
    }

    &-minmax {
        grid-template-columns: repeat(var(--grid-fill, auto-fit), minmax(var(--min, 0), var(--max, auto)));
    }

    &-span-cols {
        grid-column: 1/-1;
    }
}

.subgrid {
    grid-template-columns: subgrid;
}

.gap {
    grid-gap: var(--gap, 0);

    &-0 {
        grid-gap: var(--gap-0, 0);
    }

    @for $i from 1 through 3 {
        &-#{$i} {
            grid-gap: var(--gap-#{$i});
        }

        &-x-#{$i} {
            grid-gap: 0 var(--gap-#{$i});
        }

        &-y-#{$i} {
            grid-gap: var(--gap-#{$i}) 0;
        }
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}
