.m {
    margin: var(--margin, 0);

    @for $i from 0 through 15 {
        &-#{$i} {
            margin: var(--spacing-#{$i});
        }
    }

    &-auto {
        margin: auto;
    }

    &x {
        margin-right: var(--mx, 0);
        margin-left: var(--mx, 0);

        &-auto {
            margin-right: auto;
            margin-left: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-right: var(--spacing-#{$i});
                margin-left: var(--spacing-#{$i});
            }
        }
    }

    &y {
        margin-top: var(--my, 0);
        margin-bottom: var(--my, 0);

        &-auto {
            margin-top: auto;
            margin-bottom: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-top: var(--spacing-#{$i});
                margin-bottom: var(--spacing-#{$i});
            }
        }
    }

    &t {
        margin-top: var(--mt, 0);

        &-auto {
            margin-top: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-top: var(--spacing-#{$i});
            }
        }
    }

    &r {
        margin-right: var(--mr, 0);

        &-auto {
            margin-right: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-right: var(--spacing-#{$i});
            }
        }
    }

    &b {
        margin-bottom: var(--mb, 0);

        &-auto {
            margin-bottom: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-bottom: var(--spacing-#{$i});
            }
        }
    }

    &l {
        margin-left: var(--ml, 0);

        &-auto {
            margin-left: auto;
        }

        @for $i from 0 through 15 {
            &-#{$i} {
                margin-left: var(--spacing-#{$i});
            }
        }
    }
}

.p {
    @for $i from 0 through 15 {
        &-#{$i} {
            padding: var(--spacing-#{$i});
        }
    }

    @for $i from 0 through 15 {
        &-#{$i} {
            padding: var(--spacing-#{$i});
        }
    }

    &x {
        @for $i from 0 through 15 {
            &-#{$i} {
                padding-right: var(--spacing-#{$i});
                padding-left: var(--spacing-#{$i});
            }
        }
    }

    &y {
        @for $i from 0 through 15 {
            &-#{$i} {
                padding-top: var(--spacing-#{$i});
                padding-bottom: var(--spacing-#{$i});
            }
        }
    }

    &t {
        @for $i from 0 through 15 {
            &-#{$i} {
                padding-top: var(--spacing-#{$i});
            }
        }
    }

    &r {
        @for $i from 0 through 15 {
            &-#{$i} {
                padding-right: var(--spacing-#{$i});
            }
        }
    }

    &b {
        @for $i from 0 through 15 {
            &-#{$i} {
                padding-bottom: var(--spacing-#{$i});
            }
        }
    }

    &l {
        @for $i from 0 through 15 {
            &-#{$i} {
                padding-left: var(--spacing-#{$i});
            }
        }
    }
}

.w {
    width: var(--width, var(--size, auto));

    &-max {
        width: max-content;
    }

    &-min {
        width: min-content;
    }

    &-full {
        width: 100%;
    }

    &-fit {
        width: stretch;
    }
}

.mw {
    max-width: var(--mwidth, var(--size, none));
}

.h {
    height: var(--height, var(--size, auto));

    &-full {
        height: 100%;
    }

    &-screen {
        height: 100vh;
    }

    &-max {
        max-height: var(--max-height, var(--size, none));

        &-screen {
            max-height: 100vh;
        }
    }

    &-min {
        min-height: var(--min-height, var(--size, none));

        &-screen {
            min-height: 100vh;
        }
    }
}

.align-items {
    &-start {
        align-items: flex-start;
    }

    &-center {
        align-items: center;
    }

    &-end {
        align-items: flex-end;
    }
}

.align {
    &-start {
        align-content: flex-start;
    }

    &-center {
        align-content: center;
    }

    &-end {
        align-content: flex-end;
    }

    &-self {
        &-start {
            align-self: flex-start;
        }

        &-center {
            align-self: center;
        }

        &-end {
            align-self: flex-end;
        }
    }
}

.items {
    &-start {
        justify-items: flex-start;
    }

    &-end {
        justify-items: flex-end;
    }

    &-center {
        justify-items: center;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }

    &-self {
        &-start {
            justify-self: flex-start;
        }

        &-end {
            justify-self: flex-end;
        }

        &-center {
            justify-self: center;
        }
    }
}

.grid {
    grid-template-columns: var(--columns, auto);
    grid-template-rows: var(--rows, auto);

    @include for-tablet-portrait-up {
        grid-template-columns: var(--tablet-columns, var(--columns, auto));
    }

    @include for-desktop-up {
        grid-template-columns: var(--desktop-columns, var(--tablet-columns, var(--columns, auto)));
    }

    &-flow-col {
        grid-auto-flow: column;
    }

    &-minmax {
        grid-template-columns: repeat(var(--grid-fill, auto-fit), minmax(var(--min, 0), var(--max, auto)));
    }

    &-span-cols {
        grid-column: var(--span-cols, 1/-1);
    }

    &-span-rows {
        grid-row: var(--span-rows, 1/-1);
    }
}

.subgrid {
    grid-template-columns: subgrid;
}

.flex {
    &-item {
        flex: var(--flex, var(--basis, auto) var(--grow, 1) var(--shrink, 1));
    }

    &-grow {
        flex-grow: var(--grow, 1);
    }

    &-shrink {
        flex-shrink: var(--shrink, 1);
    }

    &-basis {
        flex-basis: var(--basis, auto);
    }
}

.gap {
    grid-gap: var(--gap, 0);

    &-0 {
        grid-gap: var(--gap-0, 0);
    }

    @for $i from 0 through 4 {
        &-#{$i} {
            grid-gap: var(--gap-#{$i});
        }

        &-x-#{$i} {
            grid-gap: 0 var(--gap-#{$i});
        }

        &-y-#{$i} {
            grid-gap: var(--gap-#{$i}) 0;
        }
    }
}

.overflow {
    &-auto {
        overflow: auto;
    }

    &-scroll {
        overflow: scroll;
    }

    &-hidden {
        overflow: hidden;
    }
}
