.text {
    // sizes
    @for $i from 1 through 10 {
        &-#{$i} {
            font-size: var(--text-#{$i});
        }
    }

    // weights
    &-light {
        font-weight: var(--weight, 300);
    }

    &-normal {
        font-weight: var(--weight, 400);
    }

    &-medium {
        font-weight: var(--weight, 500);
    }

    &-bold {
        font-weight: var(--weight, 700);
    }
}

.underline {
    text-decoration: underline;
}
.no-underline {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: var(--text-6);
}
